<div *ngFor="let note of dsNotes">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>
          description
        </mat-icon>
      </div>
      <mat-card-title>{{ note.title }}</mat-card-title>
      <mat-card-subtitle>{{ note.username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a
        mat-button
        mat-stroked-button
        [routerLink]="linkToDetails + note?.id"
      >
        <mat-icon>arrow_forward</mat-icon>
        Go to details
      </a>
    </mat-card-actions>
  </mat-card>
</div>