<p>Nie ma tak łatwo</p>,
@for (item of list; track $index) {
<img src="https://pbs.twimg.com/profile_images/796027631342854144/qy-k7Pm6_400x400.jpg" />
}
@for (item of list; track $index) {
<img src="https://pbs.twimg.com/profile_images/796027631342854144/qy-k7Pm6_400x400.jpg" />
}
@for (item of list; track $index) {
<img src="https://pbs.twimg.com/profile_images/796027631342854144/qy-k7Pm6_400x400.jpg" />
}
@for (item of list; track $index) {
<img src="https://pbs.twimg.com/profile_images/796027631342854144/qy-k7Pm6_400x400.jpg" />
}