<mat-card class="card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="form"
      (ngSubmit)="handleSubmit()"
      class="form"
    >
      <mat-form-field>
        <input
          matInput
          formControlName="username"
          placeholder="Username"
        >
        <mat-error *ngIf="form.get('username').hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="form.get('username').hasError('minlength')">Username must be at least 6 characters
          long</mat-error>
        <mat-error *ngIf="form.get('username').hasError('maxlength')">Username cannot exceed 255 characters</mat-error>
        <mat-error *ngIf="form.get('username').hasError('pattern')">Username must contain only letters and
          underscores</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
        >
        <mat-error *ngIf="form.get('password').hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="form.get('password').hasError('minlength')">Password must be at least 6 characters
          long</mat-error>
        <mat-error *ngIf="form.get('password').hasError('maxlength')">Password cannot exceed 255 characters</mat-error>
        <mat-error *ngIf="form.get('password').hasError('pattern')">Password must contain only letters and
          underscores</mat-error>
      </mat-form-field>

      <a [routerLink]="registerLink">Don't have an account? Click here!</a>

      @if(!token){
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >Login</button>
      }
    </form>

    @if (!!token) {
    <div class="form">
      <mat-form-field>
        <input
          matInput
          type="text"
          [formControl]="tfaControl"
          placeholder="Token"
          maxlength="6"
        >
        <mat-error *ngIf="tfaControl.hasError('required')">Token is required</mat-error>
        <mat-error *ngIf="tfaControl.hasError('minlength') || form.get('password').hasError('maxlength')">Token must be
          at
          exactly 6 characterslong</mat-error>
        <mat-error *ngIf="form.get('username').hasError('pattern')">Token must be only numbers</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="handleTokenSubmit()"
        type="button"
        [disabled]="form.invalid || tfaControl.invalid"
      >Login</button>
    </div>
    }

  </mat-card-content>
</mat-card>